#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    
    background-image: linear-gradient(90deg, rgba(255, 188, 30, 0.5), rgba(94, 115, 254, 0.5));
    background-size: 150% 100%;
}

#main_container {
    justify-content: space-around;
}

/* small screens like iphone4 were getting clipped */
@media screen and (max-height: 640px) {
    #main_container {
        display: block;
    }
}

#nav_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav_container > * {
    margin: 0;
    width: 33.33%;
}

#nav_button_container a {
    height: 24px;
}

#nav_container h5 {
    text-align: center;
}

#lives_container {
    display: flex;
    justify-content: flex-end;

    color: var(--heart_color);
}

#nav_button_container, #lives_container {
    display: flex;
    align-items: center;
}

#quiz_container {
    display: flex;
    flex-direction: column;
}

#question_text {
    font-size: 0.75em;
    text-align: center;
}

#question_clue_image {
    max-height: 320px;
}

#answer_button_container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#answer_button_container .answer_button {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    margin: 4px 0;

    color: var(--primary_color);
    background-color: var(--secondary_color);
    font-family: 'Poppins', sans-serif;
}

#answer_button_container .answer_button:hover {
    color: var(--hover_color);
}

#answer_button_container .answer_button_correct {
    background-color: greenyellow;
}

#answer_button_container .answer_button_wrong {
    background-color: red;
}
