#main_container {
    text-align: center;
    align-items: center;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    
    background-image: url(https://images.unsplash.com/photo-1580655653885-65763b2597d0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
    background-size: cover;
    background-repeat: none;
    filter: blur(2px);
    animation: background_animation 15s ease-in-out infinite;
}

@keyframes background_animation {
    0% {
        background-position: left;
    }
    50% {
        background-position: right;
    }
    100% {
        background-position: left;
    }
}

@media screen and (min-width: 720px) {
    #background {
        background-size: 150% 100%;
    }
}